@media (max-width: 1200px) {
	#user_profile {
		margin-top: 25px;
	}
	.large_button_content {
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		text-align: center;
	}
	.large_button_content p {
		text-align: center;
		width: 100%;
	}
	.user_company li span {
		top: -20px;
	}
	.select-container {
		margin-bottom: 20px;
	}
}

@media (max-width: 992px) {
	.large_button_content {
		margin-left: 10%;
		text-align:left;
	}
	.large_button_content p {
		text-align:left;
		width:auto;
	}
	.button_container {
		padding: 0;
	}
	.user_company li span {
		position: relative;
		top: -20px;
	}
	.main-content {
		padding-left: 10px;
		padding-right: 10px;
	}
	#tv_videos {
		min-height: initial;
	}
	#tv_videos li {
		width: 40%;
		float: left;
		margin-right: 35px;
		margin-bottom:30px;
	}
	.row {
		height: 144px;
	}
}

@media (max-width:767px){
	#left-column {
		height: auto;
		position: relative;
		padding:0;
		width: 100%;
		margin-bottom: 10px;
	}	
	#logo img {
		width: auto;
		height: 100px;
	}	
	.nav-side-menu .toggle-btn {
		display: block;
		cursor: pointer;
		position: absolute;
		right: 10px;
		top: 10px;
		z-index: 10 !important;
		padding: 3px;
		color: #fff;
		width: 40px;
		text-align: center;
	}
	.menu-list {
		text-align: left;
	}
	#menu-content li a img {
		float: left;
		margin-right: 10px;
		margin-left: 10px;
	}
	.nav-side-menu li{
		padding-top:0;		
	}
	.main{
		margin-left:0px;
	}
	#user_profile{
		padding:0;
	}
	#user_profile_photo {
		width: auto;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		text-align:center;
	}
	#user_profile_photo img{
		position: relative;
	}
	.user_profile_block {
		display: block;
		padding-bottom: 20px;
	}
	#user_profile_info > div {
		text-align: center;
	}
	.user_company li span {
		top: -5px;
	}
	.user_company li {
	    text-indent: -1px;
	}
	#edit_profile_button {
		position: relative;
		bottom: 0;
		left: 0;
	}
	#user_profile_options {
		position: absolute;
		width: 130px;
		top: -120px;
		height: 105px;
		left: 60%;
	}
	#user_profile_photo_button {
		height: 30px;
		width: 35px;
	}
	#user_profile_photo {
		display: table;
		width: 100%;
		padding-bottom:0;
	}
}

@media (min-width: 768px) {
	.nav-side-menu .menu-list .menu-content {
		display: block;
	}
	#main {
		width:calc(100% - 120px);
		float: right;
	}
}
@media (max-width:480px){
	#user_profile_photo {
		width: 100%;
		height: auto;		
	}
	#user_profile {
		padding: 0;
	}
	#update_info_field {
		padding-left: 0;
	}	
	#tv_videos li {
		width: 100%;
		float: none;
		margin-right:0;
	}
	#events li {
		float: none;
		width: 100%;
	}
	#useful_links li {
		display: block;
		width: 100%;
		padding-bottom: 10px;
		margin-bottom: 10px;
	}
	#user_photo {
		right: 0;
		width: 90px;
	}
	#user_profile_options {
		left: initial;
		right: initial;
		position: relative;
		top: -10px;
		margin-left: auto;
	}
	#edit_profile_button .btn-primary {
		display: block;
		margin-bottom: 10px;
	}
}
